<html>
    <head>
        <title>
            Login Page
        </title>
        {% load static %}
        <link rel="stylesheet" href={% static 'css/cs1.css' %}>
    </head>
    <body>
        <form action="./insert" method="post">
            {% csrf_token %}
            <div>
                <p><input type="text" name="user_txt"></p>
                <p><input type="password" name="pass_txt"></p>
                <p><input type="submit" value="Submit" name="sub_btn"></p>
                <p><input type="reset" value="Clear" name="res_btn"></p>
            </div>
        </form>
        
    </body>
</html>